.character {
  border-radius: 16px;
  background-color: $primary-color;
  padding-bottom: 8px;

  @include mobile {
    width: 60%;
    margin: auto;
  }

  &:hover {
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: translatey(-4px);
  }

  &__img {
    width: 100%;
    border-radius: 15px;
  }

  &__name {
    margin-left: 10px;
    font-size: 22px;
  }

  &__specie {
    margin-left: 10px;
    font-size: 20px;
  }
}
