.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    height: 200px;

    @include mobile {
      height: 150px;
    }
  }

  &__icon {
    height: 120px;
    margin: 20px;

    &:hover {
      animation: loop 2s linear infinite;
    }

    @include mobile {
      display: none;
    }
  }
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
