.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__img {
    height: 200px;
  }

  &__icon {
    height: 120px;
    margin: 20px;

    &:hover {
      animation: loop 2s linear infinite;
    }
  }
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
