.characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  &__notFound {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__notFoundHeading {
    font-size: 24px;
    color: $light-color;

    &--search {
      display: block;
      text-align: center;
      margin-top: 10px;
      color: $secondary-color;
    }
  }

  &__notFoundImg {
    margin-top: 0;
    height: 380px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include mobile {
      height: 280px;
    }
  }
}

.urlNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 24px;
    font-weight: bold;
    color: $light-color;
    text-align: center;

    span {
      color: $secondary-color;
    }
  }

  &__img {
    margin-top: 40px;
    height: 400px;
    animation: loop 25s linear infinite;

    @include mobile {
      height: 300px;
    }
  }
}

.wrapper {
  max-width: 90%;
  margin: auto;
  padding: 0px, 20px;

  @include bigger-screens {
    max-width: $desktop;
  }
}
