.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  @include mobile {
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__input {
    height: 18px;
    width: 400px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid $secondary-color;
    border-radius: 16px;
    color: $secondary-color;
    background-color: $dark-color;
    outline: none;

    @include mobile {
      height: 15px;
      width: 70%;
      padding: 20px;
      border-radius: 14px;
      margin-bottom: 14px;
    }
  }

  &__sort {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    opacity: 0;
  }

  &__customSort {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid $secondary-color;
    border-radius: 14px;
    background-color: $dark-color;
  }

  &__customSortChecked {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid $secondary-color;
    border-radius: 14px;
    background-color: $secondary-color;
  }

  &__sortLabel {
    position: relative;
    display: flex;
    align-items: center;
    color: $secondary-color;
    margin-left: 20px;
  }
}
