.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    height: 18px;
    width: 400px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid $secondary-color;
    border-radius: 16px;
    color: $secondary-color;
    background-color: $dark-color;
    outline: none;
  }

  &__checkbox {
    height: 30px;
    width: 30px;
    margin-left: 30px;
  }

  &__label {
    color: $secondary-color;
    margin-left: 10px;
  }
}
