.filter {
  display: flex;
  justify-content: center;

  &__input {
    height: 18px;
    width: 400px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid $secondary-color;
    border-radius: 16px;
    color: $secondary-color;
    background-color: $dark-color;
    outline: none;
  }
}
