@import '_reset';
@import '_variables';
@import '_mixins';
@import '../../app';
@import './animations';

// COMPONENTS
@import '../../components/Header/header';
@import '../../components/Filters/filters';
@import '../../components/CharacterList/characterList';
@import '../../components/CharacterCard/characterCard';
@import '../../components/CharacterDetail/characterDetail';
@import '../../components/Loader/loader';

body {
  margin: 0;
  background-color: $dark-color;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Work Sans', sans-serif;
  padding-bottom: 20px;
}
